@model Agriculture.DomainClass.Models.User
@{
    ViewBag.Title = "SuccessRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-success">
    <p>کاربر <span>@Model.UserName</span> عزیز </p>
    <p>حساب کاربری شما با موفقیت فعال شد ، جهت ورود از طریق دکمه زیر میتوانید اقدام کنید</p>
    </div>

<div class="mt-2">
    <hr />
    <a href=@MVC.Account.Account.ActionNames.Login class="btn btn-primary mt-3">ورود</a>
</div>